.results_sor{
  padding: 20px;
  border-radius: 5px;
  background-color: var(--secondary-color);

  &__title{
    font-size: 20px;
    margin-bottom: 5px;
    .cubing-icon{
      color: white;
    }
    
  }

  &__table{
    width: 100%;
    max-width: 100%;

    overflow: hidden;
    overflow-x: auto;
    .table{
      width: 100%;
      min-width: 700px;
      .times{
        display: flex;
        gap: 10px;
      }
    }
  }

  .mat-mdc-table .mat-mdc-header-cell{
    background-color: var(--primary-color);
    color: white;
  }

  .mat-mdc-cell.mdc-data-table__cell{
    color: white;
  }
}