<div class="competition">
    <table class="table">
        <tr>
            <td class="table__head">Ciudad</td><td>{{competition()?.city_name}}</td>
        </tr>
        <tr>
            <td class="table__head">Local</td><td>{{competition()?.venue}}</td>
        </tr>
        <tr>
            <td class="table__head">Direccion</td><td>
                <a [href]="`https://www.google.com/maps/place/${competition()?.latitude_microdegrees},${competition()?.longitude_microdegrees}`" target="_blank">{{competition()?.venue_address}}</a>
            </td>
        </tr>
        <tr>
            <td class="table__head">Delegados</td>
            <td>
                @for(delegate of competition()?.wcaDelegate; track delegate){
                    <a [href]="'https://www.worldcubeassociation.org/persons/'+delegate.id" target="_blank" class="link_person delegate">{{delegate.name}}</a>
                }
            </td>
        </tr>
        <tr>
            <td class="table__head">Organizadores</td>
            <td>
                @for(organiser of competition()?.organiser; track organiser){
                    @if(organiser.id){
                        <a [href]="'https://www.worldcubeassociation.org/persons/'+organiser.id" target="_blank" class="link_person">{{organiser.name}}</a>
                    }@else {
                        <span class="link_person">{{organiser.name}}</span>
                    }
                }
            </td>
        </tr>
        <tr>
            <td class="table__head">Categorias</td><td>
                @for(event of competition()?.eventCompetitions; track event){
                    <span [class]="'cubing-icon event-'+event" [matTooltip]="event | categoryWCA" matTooltipPosition="above"></span>
                }
            </td>
        </tr>
    </table>

</div>