.competitions{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  &__item{
    display: grid;
    grid-template-columns: .5fr 3fr .5fr;
    gap: 15px;
    background-color: var(--bg-primary-color);
    padding: 15px;

    border-radius: 5px;
    .date{
      padding: 5px 0px;
      background-color: var(--primary-color);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 5px;
      .day{
        font-size: 30px;
      }
      @media only screen and (max-width: 426px) {
        padding: 0px 5px;
        grid-column: span 3;
        .day{
          font-size: 20px;
        }
      }
    }
    .details{
      span{
        color: #97A5FF;
        font-size: 14px;
      }
      &__name{
        font-size: 23px;
      }
      &__direction{
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 16px;
        color: #A1A1A1;
        text-decoration: none;
      }
    }
    .navigate{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      &__icon{
        font-size: 30px;
        width: 30px;
        height: 30px;
        @media only screen and (max-width: 426px) {
          font-size: 20px;
          width: 20px;
          height: 20px;
        }
      }
    }
    @media only screen and (max-width: 426px) {
      gap: 10px;
      grid-template-columns: 3fr .5fr;
    }
  }
  @media only screen and (max-width: 1300px) {
    grid-template-columns: 1fr;
  }
}