<footer class="footer_page">
    <div class="footer_page__content">
        <div class="presentation">
            <div class="logo_footer">
                <img src="./icons/cubing_peru.svg" alt="" class="img" width="60">
                <div class="text font-primary">CUBING PERÚ</div>
            </div>
            <span class="font-secondary">
                La comunidad oficial para competidores y aficionados del speedcubing en el Perú.
            </span>
        </div>
    </div>
    <div class="footer_page__copyright">
        <span class="font-secondary">© 2025 Cubing Perú. Todos los derechos reservados.</span>
    </div>
</footer>